<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://www.myspace.com/Help/AboutUS/">About my space </a>
  is a leading social entertainment destination.
  You can record and share your favorite or distasteful songs on Music Zone after
  visiting <a href="http://www.myspace.com/">myspace</a>. This
  is the sample application for Music Zone.
</p>


