<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
  Get help on accessing "myspace" website to record personal favorite song on Music Zone at the
  <a href="http://www.myspace.com/Help/">myspace help page</a>.
</p>


