<% provide(:title, 'What is Hot') %>
<h1>What is Hot</h1>
<p>
  The <a href="http://www.myspace.com/">myspace</a>
  is a leading social entertainment destination powered by the passions of fans.
  Its content --<a href="http://www.myspace.com/whats-hot/">What's Hot</a> contains
  various kinds of news in so many fields, including music, celebrities, TV, movies, and games that
  you maybe interested in.
</p>





