@import "bootstrap";
/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 100px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 20px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 2;
}

$pink: #c3325f;

h1 {
  font-size: 250%;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 150%;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $pink;
}

p {
  font-size: 100%;
  line-height: 1.7em;
}

/* header */


#logo {
  float: left;
  margin-right: 10px;
  font-size: 180%;
  color: #ffc40d;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: $pink;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 2px solid $grayMediumLight;
  color: $pink;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: left;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
      color: $pink;
    }
  }
}